
* {box-sizing: border-box}
body {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	background-color: #ccf2c6;
	transition: 0.3s;
	}

h1 {
  font-family: 'Patrick Hand', cursive;
	font-size: 40px;
	color: black;
	text-align: center;
	width: 100%;
}

h2 {
	font-size: 30px;
	font-family: 'Patrick Hand', cursive;
	text-align: center;
	width: 100%;
}

h3 {
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	width: 100%;
}

h4 {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	text-align: center;
}

a {
	font-family: 'Nunito', sans-serif;
	color: inherit;
}
ul {
	text-align:left;
}

/* mouse over link */
a:hover {
  color: #555fd3;
}

/* selected link */
a:active {
  color: #59ccee;
}

p {
	padding-left: 30px;
	padding-right: 30px;
}

	.websites-2020 a {
	  	float: left;
	  	padding: 12px 24px;
	  	color: black;
	  	text-decoration: none;
	  	font-size: 12px;
	  	width: 20%; /* Four links of equal widths */
	  	text-align: center;
	    background-color: white;
	}

.date-time {
	text-align: center;
}

.organized-gallery {
	float: left;
	width: 95%;
	margin: 5px 2.5%;
}

.classes {
	width: 100%;
	float: left;
	padding: 20px;
	margin: 20px auto;
}

.list {
	margin: 0 auto;
overflow-wrap: anywhere;
word-wrap: anywhere;
display: table;
}

.color-1 {
		background-color: #003053;
		color: white;
}
.color-2 {
		background-color: #09a45c;
		color: white;
}

.color-3 {
		background-color: #065f44;
		color: white;
}

.person {
	float: left;
	margin: 20px;
	padding: 20px;
}

.person-icon {
	width: 30%;
	float:left;
	vertical-align: middle;
	display: inline-block;
}

.person-icon img {
	height: auto;
	width: 100%;
}

.person-desc {
	width: 70%;
	float: left;
	vertical-align: middle;
}

.event {
	float: left;
	width: 50%;
}

.event img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.people {
	width: 250px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin: 5px;
}

.tag {
	float: left;
	position: absolute;
	z-index: 1000;
	background-color: #bcddd3;
	padding: 5px;
	color: black;
	font-weight: bold;
	text-align: center;
 }

.tag h1 {
	font-family: 'ZCOOL KuaiLe', cursive;
}

.button-1 {
	border: solid 2px white;
	text-decoration: none;
	padding: 20px 40px;
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.button-1:hover {
  color: #bfbfbf;
	border: solid 2px #bfbfbf;
}

.button-2 {
	background-color: #4ec959;
	text-decoration: none;
	padding: 20px 40px;
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.button-2:hover {
	background-color: #09a45c;
  color: #bfbfbf;
}

.buttons {
	padding: 20px 0;
	margin: auto;
	text-align: center;
}
.tag p {
	padding: 40px;
}

 .container {
	 position:relative;
 }

.contact-email {
	background-color: #043d26;
	padding: 20px;
	margin: 10px;
	width: 300px;
	text-align: center;
	color: white;
	height: 150px;

}
.contact-email a {
	text-decoration: none;
}

.welcome-image {
	width:100%;
}
}
.contact-desc a {
	color:black;
}


.contact-image {
	border-radius: 50%;
	width: 30%;
}

@media screen and (min-width: 801px) and (max-width: 1350px) {
	.list {
	margin: 0 20px;
}
	.tag {
		left: 25%;
		top: 10%;
		height: 80%;
		width: 45%;
	 }
	 .tag h1{
		 font-size: 5vw;
	 }
	 .tag p {
		 padding: 10px;
		 font-size: 3vw;
	 }
	 .event {
	 width: 100%;
 		}
	 .contact-image {
		 display: block;
		 margin-left: auto;
		 margin-right: auto;
	 }
	 .contact-email {
		margin-left: auto;
		margin-right: auto;
	 }
	 .contact-desc {
		 width: 100%;
		 padding: 20px;
		 text-align: center;
	 }
	 .contact-main {
	 	height: 850px;
	 }
	 .person-icon, .person-desc {
	 	width: 100%;
	 	float:left;
	 }
	 .person-icon img {
		 width: 60%;
		 		margin: auto;
				display: block;
	 }

}

@media screen and (max-width: 800px) {
	.list {
	margin: 0 10px;
}
	.tag {
		height: 100%;
		width: 100%;
	 }
	 .tag h1{
		 font-size: 5vw;
	 }
	 .event {
	 width: 100%;
 }
	 .contact-image {
		 display: block;
		 margin-left: auto;
		 margin-right: auto;
	 }
	 .contact-email {
		margin-left: auto;
		margin-right: auto;
	 }
	 .contact-desc {
		 width: 100%;
		 padding: 20px;
		 text-align: center;
	 }
	.contact-main {
		height: 800px;
	}
	.person-icon, .person-desc {
	 width: 100%;
	 float:left;
	}
	.person-icon img {
		border-radius: 100%;
	}

}

@media screen and (min-width: 1351px) {
	.tag {
		left: 30%;
		top: 25%;
		height: 50%;
		width: 40%;
	 }
	.tag h1{
		font-size: 4vw;
		margin-top: 5%;
	}
	.contact-email {
		float:left;
	}
	.contact-image {
		float:left;
		margin-right: 50px;
		margin-left: 200px;
	}
	.contact-desc {
		float:left;
		width: 50%;
		padding: 20px;
	}
	.contact-desc p {
		width: 100%;
	}
	.contact-main {
		height: 500px;
	}
}
