
/* Style the tab */
.tab {
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #c5c6c7;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  color: blue;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  background-color: gray;
  margin-left: 10px;
  margin-right: 10px;
}
