.navbar {
  	overflow: hidden;
  	margin: 0px 20vw;
  	bottom:0;
}

.navbar a {
  	float: left;
  	padding: 12px;
  	color: white;
  	text-decoration: none;
  	font-size: 12px;
  	width: 20%; /* Four links of equal widths */
  	text-align: center;

}


.navbar a:hover {
  	color: #d4d4d4;
}

.navbar a.active {
  	color: #96bcb0;
}


.header {
	background-color: #307862;
	margin: 0;
	top: 0;
}


@media screen and (min-width: 501px) and (max-width: 850px) {
	.navbar a {
	  	float: none;
	  	display: block;
	  	width: 100%;
	  	text-align: center;
	}
}

@media screen and (max-width: 500px) {
  	.navbar a {
    	float: none;
    	display: block;
    	width: 100%;
    	text-align: center;
  	}
}

.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	background-size: contain;
  	border-radius: 50%;
  	width: 200px;
  	padding: 40px;
}
.notification {
  width: 100%;
  text-align: center;
  background-color: #183c31;
  color: white;
  padding: 10px;
}
.notification p {
  margin:0;
}

.notification a {
  color: #96bcb0;
  text-decoration: none;
}
